.hover-effect {
  transform: scale(1);
  filter: drop-shadow(0 10px 0.75rem rgba(0, 0, 0, 0));
  transition: transform 1.13s, filter 0.97s;
}

.hover-effect:hover {
  transform: scale(1.12);
  filter: drop-shadow(0 10px 0.75rem rgb(0, 0, 0));
  transition: 0.8s;
}