body {
  background-color: grey;
}

h1 {
  font-size: clamp(3rem, 6vw, 7rem);
}

h2 {
  font-size: clamp(2rem, 4vw, 5rem);
  text-transform: capitalize;
}

p {
  font-size: clamp(1rem, 2vw, 1.2rem);
}

footer {
  text-align: center;
}